<div class="customers-component">

  <h4>Customers list</h4>

  <div class="list-edit-container">
    <div class="entitys-list">
      <div class="list-group entitys">
        <div *ngFor="let customer of customers" 
              (click)="onSelect(customer)" 
              [class.selected]="customer === selectedCustomer"
              class="entity-item list-group-item list-group-item-action">
            {{customer.firstName}} {{customer.surName}}
        </div>
        <div (click)="onCreateCustomer()"
              class="entity-item list-group-item list-group-item-action">
            Create new customer
        </div>        
       </div>
    </div>

    <div class="entity-edit-box bg-light">
      <div class="entity-details" *ngIf="selectedCustomer">
        <h4>{{selectedCustomer.firstName}} {{ selectedCustomer.surName }} Details</h4>
    
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="customer-firstName" class="col-form-label">First name</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="customer-firstName" [(ngModel)]="selectedCustomer.firstName">
          </div>
        </div>
    
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="customer-surName" class="col-form-label">First name</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="customer-surName" [(ngModel)]="selectedCustomer.surName">
          </div>
        </div>
    
        <button type="submit" (click)="onSave()" class="btn btn-primary saveButton">Save</button>
      </div>
      <div class="message" *ngIf="message">
        <p>{{message}}</p>
      </div>
    </div>
  </div>
</div>
