.customers-component {
  margin-top: 2em;
}

  .customer-item {
    cursor: pointer;
  }

  .customer-item:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  .customer-item.selected {
    background-color: darkgrey;
    color: white;
  }
  .customer-item.selected:hover {
    background-color: #505050;
    color: white;
  }
  .customer-item.selected:active {
    background-color: black;
    color: white;
  }
  
  input {
    padding: .5rem;
  }

  .customers-details
  {
    
  }

.list-edit-container
{
  display: flex;
  flex-direction: row;
}

.customers-list {
  width: 30%;
}

.customer-edit-box {
  width: 70%;
  padding-left: 3em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 1em;
}